html,
body {
  direction: rtl;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'IranNastaliq';
  src: url('../font/IranNastaliq/IranNastaliq.eot') format('eot'),
    url('../font/IranNastaliq/IranNastaliq.ttf') format('truetype'),
    url('../font/IranNastaliq/IranNastaliq.woff') format('woff');
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    font-family: 'IranNastaliq', Sans-Serif;
    font-size: 20px;
    line-height: 40px;
    a {
      font-size: 15px;
    }
  }

  .content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    .poem-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'IranNastaliq', Sans-Serif;
      font-size: 25px;
      line-height: 60px;
    }
  }

  .footer {
    display: flex;
    padding: 10px 20px;
    font-family: 'IranNastaliq', Sans-Serif;
    font-size: 15px;
    line-height: 40px;
    justify-content: center;
  }
}
